body {
  color: #222;
  font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
  line-height: 1.5;
}

img {
  object-fit: cover;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

table {
  margin-top: 5rem;
}

#profile img {
  height: 150px;
  width: 150px;
}

.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 60px;
}

#editForm,
#edit-form {
  width: 30%;
}

.contacts-table {
  /* padding-top: 60px; */
  padding-bottom: 60px;
}
.fa-solid:hover {
  color: blue;
  font-size: 120%;
}

.navbar {
  height: 50px;
}
td {
  text-transform: capitalize;
}
